[fan_generic camera_fan]
pin: PB0
off_below: 0.2
kick_start_time: 0.5
shutdown_speed: 0.0

# кулер обдува модели
[fan]
pin: PB1
shutdown_speed: 0.0

# кулер обдува радиатора хотэнда
[heater_fan nozzle_fan]
pin: PC14
shutdown_speed: 1.0
heater: extruder
heater_temp: 50
fan_speed: 1.0

# кулер MCU
[controller_fan mcu_fan]
pin: PA2
max_power: 1.0
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
off_below: 0.1
#enable_pin:
#   See the "fan" section for a description of the above parameters.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
idle_timeout: 60
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
idle_speed: 0.6
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater:
#stepper:
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.